$primary: hsl(238, 40%, 52%);
$secondary: hsl(239, 57%, 85%);
$danger-medium: hsl(358, 79%, 66%);
$danger-light: hsl(357, 100%, 86%);

$neutral-medium: hsl(211, 10%, 45%);
$neutral-light: hsl(223, 19%, 93%);
$neutral-lightest: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);
$black: #333;

$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

$font-family: 'Rubik', Geneva, Verdana, sans-serif;
$font-size-paragraph: 1rem;


// classes

.username {
  color: $primary;
  font-weight: $font-weight-semibold;
  text-decoration: none;
}
